/*.grid-container {
    display:grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    gap:20px
}
.bg-black {
    background-color: black;
}
.bg-yellow {
    background-color: yellow;
}*/
/*.grid-container {
    display:grid;
    grid-template-columns:  repeat(3, 100px);
}*/
/*.flex-container {
    display: flex;
    gap:10px;
}
.item-1 {
    height:310px;
    width:100px;
    background-color: green;
}
.item-2 {
    height:100px;
    width:200px;
    background-color: green;
}
.item-3 {
   height:95px;
   width:95px;
   background-color: orange;
}
.item-4 {
    height:95px;
   width:95px;
    background-color: crimson;
}
.item-5 {
    height:95px;
    width:95px;
    background-color: crimson;
}
.item-6 {
    height:95px;
    width:95px;
    background-color: orange;
}
.item-7 {
    height:100px;
    width:100px;
    background-color: crimson;
}
.item-8 {
    height:200px;
    width:100px;
    background-color: green;
}
.section-3 {
    display:flex;
    gap:10px;
}
.section-4 {
    display:flex;
    gap:10px;
}
.section-2 {
    display: flex;
    flex-direction: column;
    gap:10px;
}
.section-5 {
    display:flex;
    flex-direction: column;
    gap:10px;
}
.middle-column {
    display: flex;
    flex-direction: column;
    gap:10px;
}*/